reserva_sala_portic/
.env
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
.venv/
venv/
env/
staticfiles/
media/
*.sqlite3
db.sqlite3
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
frontend/node_modules/
frontend/.next/
