{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}CRM Portic{% endblock %}</title>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  {% if user.is_authenticated %}
  {% include "includes/nav.html" %}
  {% endif %}
  <main class="container">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% block content %}{% endblock %}
  </main>
</body>
</html>
